<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap" rel="stylesheet">    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    <title>Gonzo</title>
</head>
<body>
    <header class="nav-bar">
        <a class="logo-container" href="/users">
            <img src="../static/img/gonzo_logo_white.svg" alt="gonzo logo">
            <h1>Gonzo</h1>
        </a>
        <ul>
            <li><a href="/transactions">transactions</a></li>
            <li><a href="/merchants">merchants</a></li>
            <li><a href="/tags">tags</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
    </footer>
</body>
</html>