html, body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", Helvetica, sans-serif;
}

#homepage-title {
    font-family: Righteous;
    font-size: 72px;
    color: cornflowerblue;
}

#homepage-logo {
    height: 72px;
}

#homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in-button-container {
    margin: auto;
    width: 100px;
}

#log-in-button {
    width: 100%;
    height: 30px;
    background-color: lightcoral;
    color: white;
    border-style: none;
    box-shadow: 10px, 10px, black;
    border-radius: 10px;
}

#log-in-button:hover {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 10px;
    font-family: Righteous;
    font-size: 20px;
}

.nav-bar > img {
    height: 50%;
}

.nav-bar > ul {
    float: right;
}
