<!-- {% extends 'base.html' %}

{% block content %}
<form action="/transactions/{{transaction.id}}" method="post">
  
    <div>
      <label for="merchant">Merchant:</label>
      <input type="text" id="merchant" name="merchant" value="{{transaction.merchant.name}}" required autofocus>
    </div>
  
    <div>
      <label for="tag">Tag:</label>
      <input type="text" id="tag" name="tag" value="{{transaction.tag.name}}" required autofocus>
    </div>
  
    <button type="submit">Update transaction</button>
  
  </form>
    
{% endblock content %} -->