{% extends 'base.html' %}

{% block content %}    
<p>Total Spend: {{ total_cost }}</p>
<br>
<a href="{{ url_for('transactions.new_transaction') }}">+ Transaction</a>
    {% for transaction in transactions %}
        <p>
            <a href="/transactions/{{transaction.id}}">Transaction {{transaction.id}}</a>
            {{transaction.cost}}
            {{transaction.merchant.name}}
            {{transaction.tag.name}}
        </p>
        <div>
            <form action="/transactions/{{transaction.id}}/delete" method="POST">
                <button>Delete Transaction</button>
            </form>
        </div>
    {% endfor %}

{% endblock content %}
