{% extends 'base.html' %}


{% block content %}
    
{% for transaction in transactions %}
  <div class="transaction">
    <div class="content">
      <a href="/transactions/{{transaction.id}}">{{transaction.cost}}</a>
      <!-- <div class="merchant-name">
        {{transaction.merchant.name}}
      </div>
      <div class="tag">
        {{transaction.tag.name}}
      </div> -->
      <div class="buttons">

        <form class="delete-form" action="/transactions/{{transaction.id}}/delete" method="POST">
          <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock content %}
