{% extends 'base.html' %}

{% block content %}
    
    <div class="profile-container">
        <img class="user-image" src="../../static/img/Kermit.jpg" alt="user profile picture">
        <h2>welcome Kermit</h2>
    </div>
    <ul class="category-container">
        <a href="/transactions"><li class="category-box">transactions</li></a>
        <a href="/merchants"><li class="category-box">merchants</li></a>
        <a href="/tags"><li class="category-box">tags</li></a>
    </ul>

{% endblock content %}