{% extends 'base.html' %}
{% block content %}
    <div class="category-container">
        <a href="{{ url_for('merchants.new_merchant') }}"><button>+ Merchant</button></a>

        {% for merchant in merchants %}
        <div class="category-container">
            <a href="/merchants/{{merchant.id}}">
            <div class="transaction-box">    
                {{merchant.name}}
            </div>
            </a>
            <div>
                <form class="delete-form" action="/merchants/{{merchant.id}}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}